Options -MultiViews
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.html [QSA,L]

# Cache control
<FilesMatch "\.(ico|png|jpg|jpeg)$">
  # 30 days
	Header Set Cache-Control "max-age=2592000, public"
</FilesMatch>
<FilesMatch "\.(js|svg|ttf|webp)$">
  # 365 days
  Header set Cache-Control "max-age=31536000, public"
</FilesMatch>

# Deflate Compression
<IfModule mod_deflate.c>
 <FilesMatch "\.(js|jpg|jpeg|gif|png|css|ttf|webp)$">
  ExpiresActive on
  ExpiresDefault "access plus 1 month"
  SetOutputFilter DEFLATE
 </FilesMatch>
</IfModule>